*{
	padding:0;
	margin: 0;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration: none;
}
.cover{
	width: 1180px;
	height: 152px;
	background-color:white;
	margin:0 85px;
}
#firstLine{
	height: 20px;
}
#firstLine li{
	float:left;
	margin:0 10px;
}
#firstLine li:last-child{
	margin-right:0;
}
#firstLine li span{
	color:#9997ac;
	font-size:12px;
}
.zero{
	color:#ff4d04;
	font-size: 12px;
	font-weight: bold;
}
.first1{
	float:left;
	display: inline-block;
	margin-right:10px; 
	font-size:12px;
	color:#9997ac;
}
.first{
	float:left;
	display: inline-block;
	margin-right:365px; 
	font-size:12px;
	color:#9997ac;
}
.search{
	width: 1180px;
	float: left;
	margin:5px auto;
}
.search li{
	float:left;
}
.firstchild{
	margin-right: 100px;
}
.search input{
	margin-top:15px;
	width: 400px;
	height: 30px;
	border: #fe6c00 solid 3px;
}
#sort{
	background-color: #fe6c00;
	border: #fe6c00 solid 3px;
	color:white;
	padding: 5px;
	margin-right:100px;
}
.lastThree{
	margin-top: 15px;
	text-align: center;
	width: 87px;
	height: 38px;
	font-size: 12px;
	border: #e6e5e2 solid 1px;
	border-radius: 3px;
	color:#a897ac;
}
.lastThree:last-child{
	line-height: 38px;
	background-color: #ff4d04;
	color:white;
}
.lastThree span{
	float:left;
}
.middle{
	float: left;
	width: 600px;
}
.goods{
	padding:10px 0;
	/*height: 30px;*/
}
.goods li{
	padding: 3px;
	float:left;
	font-size:12px;
	color:#9997ac;
	border-right:#9997ac solid 1px;
}
.goods li:last-child{
	border:none;
}
.red a{
	color:red;
}
.ed{
	color:#c0a9d6;
}
.nav{
	width: 1200px;
	background-color: black;
	height: 40px;
	float: left;
}
.nav li{
	float:left;
	width: 100px;
	height: 40px;
	background-color: black;
	color:white;
	text-align: center;
	line-height: 40px;
	font-size:13px;
}
.nav li:first-child{
	background-color: #fe0d4a;
}
.navi li{
	margin-right: 20px;
}
.box{
	background-color: #f6f5f4;
	width: 1180px;
	/*float:left;*/
	margin:0 auto;
	position: relative;
}
.guide{
	font-size: 12px;
	width: 1180px;
	height: 40px;
	line-height: 40px;
	/*margin-left: 15px;*/
	/*float:left;*/
}
.guide li{
	float: left;
}
.left{
	width: 990px;
	float:left;
	background-color: white;
	padding-bottom: 110px;
}
.pic{
	width: 430px;
	/*height: 410px;*/
	float: left;
	margin-left: 10px;
	margin-top:20px;
	position: relative;
}
.pic img:first-child{
	border: #d0cdc7 solid 1px;
	margin-bottom: 10px;
}
.pic img:last-child{
	margin-left: 240px;
}
#p0{
	width: 410px;
	height: 410px;
	border: #d0cdc7 solid 1px;
	background :url(img/pp0.jpeg) center left;
}
#smallSlider{
	width: 112.5px;
	height: 112.5px;
	position:absolute;
	left:10px;
	top:0;
	background-color:#505150;
	opacity: 0.6;
	cursor: move;
	display:none; 
	filter:alpha(opacity=40);
}
.bigP0{
	width: 410px;
	height: 410px;
	border: #d0cdc7 solid 1px;
	overflow: hidden;
	display: none;
	position: absolute;
	top:0px;	
	left:412px;
	background-color:white;
}
.bigPp0{
	display: inline-block;
	width: 820px;
	height: 820px;
	text-align: center;
	position: absolute;
	top:0;
	left: 0;
	/*margin-left: -220px;
	margin-top:-100px;*/
	/*display: none;*/
}
.bigPp1{
	display: inline-block;
	/*display: none;*/
	width: 820px;
	height: 820px;
	position: absolute;
	text-align: left;
	top:-200px;
	left: -440px;
}
/*#pp0{
	display: none;
}
#pp1{
	display: none;
}*/
.words{
	float: left;
	width: 550px;
	margin-top:20px;
}
.ad{
	font-size: 	12px;
	color: #677cb0;
	margin-top:10px;
}
.sell{
	font-size: 12px;
	margin-top:10px;
	margin-left: 20px;
}
.sell span{
	display: inline-block;
	width: 60px;
}
.price{
	color:#ff7fc1;
	font-size: 14px;
}
.sell span:last-child{
	text-decoration: line-through;
	margin-left: -20px;
}
#noneDeco{
	text-decoration: none;
	margin-left: -25px;
}
.word{
	font-size: 12px;	
	margin-left: 30px;
}
.word span{
	display: inline-block;
	/*width: 95px;*/
	margin-right:40px;
	text-decoration: none;
}
.redBorder{
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.sum{
	font-size: 12px;
	margin-top:15px;
	margin-left: 30px;
}
.sum span:first-child{
	margin-right: 50px;	
}
.token{
	border:#cecbc5 solid 1px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	width: 26px;
	height: 30px;
}
.num{
	border:#cecbc5 solid 1px;
	width: 50px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	/*margin-left: -3px;*/
}
#choose{
	font-size: 13px;
	display: inline-block;
	margin-left: 50px;
	margin-right:15px;
}
#capacity{
	color:#ff9003;
	font-size: 16px;

}
.amount{
	font-size: 12px;
	margin:30px 0;
}
.number{
	color:#ff0259;
	font-size: 14px;
	margin-left: 50px;
}
.button1{
	display: inline-block;
	width: 150px;
	height: 39px;
	text-align: center;
	line-height: 39px;
	border:#ff0754 solid 1px;
	border-radius: 3px;
	color:#ff0754;
	margin-right: 15px;
}
.button2{
	display: inline-block;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #ff0754;
	color:white;
	border-radius: 3px;
}
.right{
	width: 180px;
	float: left;
	margin-left: 10px;
}	
.small{
	width: 110px;
}
#bottom{
	margin:30px auto;
	width: 1180px;
	/*float: left;*/

}
.bottomLeft{
	float:left;
	width: 170px;
}
.bottomMiddle{
	width: 800px;
	float:left;
	border-bottom: #f8f7f6 solid 1px;
}
.related{
	width: 655px;
	height: 17px;
	margin: 20px 260px;
	float: left;
}
.related li{
	width: 68px;
	float: left;
	border-right:#d0cdc7 solid 1px;
	font-size: 12px;
	text-align: center;
}
.related li:last-child{
	border: none;
}
.bottomMiddle li{
	width: 130px;
	float: left;
	text-align: left;
}
.bottomMiddle ul li{
	color:#666560;
	margin: 10px;
	margin-left: 0;
	font-size: 12px;
}
.word1{
	width: 1180px;
	text-align: center;
	float: left;
}
.words1{
	color:#9ba3bb;
	font-size:12px;
}
.tail{
	width: 780px;
	margin:0 210px;
	float: left;
}
.alertBox{
	width: 1200px;
	height:638px;
	opacity: 0.5;
	background-color: #dfd4bb;
	margin:0 auto;
	position: absolute;
	display: none;
}
.innerbox{
	display: none;
	position: absolute;
	width: 400px;
	height: 220px;
	left:450px;
	top:260px;
	border:#aca9d3 solid 4px;
	background-color:white;
	text-align: center;
}
.button11{
	display: inline-block;
	width: 150px;
	height: 39px;
	text-align: center;
	line-height: 39px;
	border:#ff0754 solid 1px;
	border-radius: 3px;
	color:#ff0754;
	margin-right: 15px;
}
.button12{
	display: inline-block;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #ff0754;
	color:white;
	border-radius: 3px;
}
.picture{
	margin-top:10px;
}
.close{
	position: absolute;
	/*display: inline-block;*/
	top:10px;
	right:5px;
	width: 12px;
	height:14px;
	/*margin-top:10px;*/
}